<a href="https://colab.research.google.com/github/LegnoO/Lab/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/LegnoO/Lab/main/Nh%E1%BA%ADp%20m%C3%B4n%20Ph%C3%A2n%20t%C3%ADch%20D%E1%BB%AF%20li%E1%BB%87u%20v%C3%A0%20H%E1%BB%8Dc%20s%C3%A2u/dulieu/dulieuxettuyendaihoc.txt",sep= ',')

print(df)
print(type(df))

    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [2]:
# 3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng.
print(df.head(10))
print(df.tail(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
90   91  8.1  7.7  9.1  8.5  6.1  8.6  ...   M NaN    2  6.25  4.00  6.50   A
91   92  7.8  6.5  6.7  5.4  6.2  4.8  ...   M NaN  2NT  4.75  4.75  4.50   A
92   93  5.0  6.6  6.5  7.2  5.8  6.7  ...   M NaN    1  3.25  5.25  4.25   A
93   94  5.2  5.2  6.8  7.9  6.6  8.9  ...   M NaN    1  3.50  4.25  5.00   A
94   95  5.8  5.9  7.6  6.1  5.3  8.1  ...   M NaN    1  4.25  2.50  4.75   A
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

In [4]:
# 4. Thống kê dữ liệu thiếu cho cột "dân tộc" và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.
df["DT"].fillna(0,inplace=True)

print(df)

    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F  0.0  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M  0.0    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  0.0    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  0.0    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M  0.0  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  0.0    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F  0.0    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  0.0  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  0.0    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [5]:
# 5. Thống kê dữ liệu thiếu cho biến "T1" và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean.
df["T1"].fillna(df["T1"].mean(),inplace=True)

print(df)

    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F  0.0  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M  0.0    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  0.0    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  0.0    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M  0.0  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  0.0    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F  0.0    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  0.0  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  0.0    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [6]:
# 7. Tạo các biến "TBM1", "TBM2", "TBM3" tương ứng với trung bình môn của các năm lớp 10, 11 và 12 => Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
for i in ["1","2","3"]:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i] + df["H"+i] + df["S"+i] + df["V"+i]*2 + df["X"+i] + df["D"+i] + df["N"+i]) / 10

print(df)

    STT   T1   L1   H1   S1   V1   X1  ...   DH1   DH2   DH3  KT  TBM1  TBM2  TBM3
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...  3.25  3.25  4.50  A1  7.00  7.54  7.06
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...  6.00  4.00  3.50   C  4.69  5.47  4.70
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...  5.00  6.75  4.00   C  5.77  5.38  4.33
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...  4.25  4.25  5.25  D1  6.21  5.20  6.03
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...  4.25  4.50  5.00   A  6.50  6.36  7.01
..  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ..   ...   ...   ...
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...  5.25  1.50  6.25   C  7.43  7.42  7.04
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...  5.25  3.75  4.75   C  4.93  5.15  4.78
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...  7.00  8.00  4.00   C  7.05  7.84  7.92
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...  5.00  3.50  5.50   C  4.15  4.72  6.16
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...  5.25  2.50  4.25   C  5.26  5.72  5.90

[100 rows x 59 columns]

In [7]:
# 8. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:
# Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
# Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
# Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
# Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
# Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)
for i in ['1','2','3']:
    df.loc[(df['TBM'+i] < 5),'XL'+i] = 'Y'
    df.loc[(df['TBM'+i] >= 5) & (df['TBM'+i] < 6.5),'XL'+i] = 'TB'
    df.loc[(df['TBM'+i] >= 6.5) & (df['TBM'+i] < 8),'XL'+i] = 'K'
    df.loc[(df['TBM'+i] >= 8) & (df['TBM'+i] < 9),'XL'+i] = 'G'
    df.loc[(df['TBM'+i] >= 9),'XL'+i] = 'XS'
print(df)

    STT   T1   L1   H1   S1   V1   X1  ...  KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...  A1  7.00  7.54  7.06    K    K    K
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   C  4.69  5.47  4.70    Y   TB    Y
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   C  5.77  5.38  4.33   TB   TB    Y
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...  D1  6.21  5.20  6.03   TB   TB   TB
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   A  6.50  6.36  7.01    K   TB    K
..  ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...   ...  ...  ...  ...
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   C  7.43  7.42  7.04    K    K    K
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   C  4.93  5.15  4.78    Y   TB    Y
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   C  7.05  7.84  7.92    K    K    K
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   C  4.15  4.72  6.16    Y    Y   TB
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   C  5.26  5.72  5.90   TB   TB   TB

[100 rows x 62 columns]

In [9]:
# 9. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 chuyển điểm trung bình TBM1 ,TBM2, TBM3 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ.
# Sử dụng phương pháp Min-Max Normalization    
for i in ["1","2","3"]:
    df["US_TBM"+i] = df["TBM"+i]/10 *4
print(df)

    STT   T1   L1   H1   S1   V1  ...  XL2  XL3  KQXT  US_TBM1  US_TBM2  US_TBM3
0     1  7.2  7.3  6.3  7.3  7.0  ...    K    K   0.0    2.800    3.016    2.824
1     2  5.4  3.9  3.9  4.0  5.4  ...   TB    Y   0.0    1.876    2.188    1.880
2     3  5.6  6.8  7.2  7.5  4.3  ...   TB    Y   1.0    2.308    2.152    1.732
3     4  6.6  6.4  5.3  6.9  5.4  ...   TB   TB   0.0    2.484    2.080    2.412
4     5  6.0  5.0  6.0  7.3  6.5  ...   TB    K   0.0    2.600    2.544    2.804
..  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...      ...      ...      ...
95   96  8.6  6.9  7.4  8.8  7.6  ...    K    K   0.0    2.972    2.968    2.816
96   97  3.7  5.4  6.0  5.1  5.5  ...   TB    Y   0.0    1.972    2.060    1.912
97   98  8.8  5.5  7.4  7.7  6.2  ...    K    K   1.0    2.820    3.136    3.168
98   99  2.7  1.8  3.4  5.3  4.5  ...    Y   TB   0.0    1.660    1.888    2.464
99  100  4.1  5.2  4.9  5.3  5.5  ...   TB   TB   0.0    2.104    2.288    2.360

[100 rows x 66 columns]

In [8]:
# 10. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị 1‖) và rớt ( giá trị 0) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau:
# Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
# Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
# Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

for i in df['KT']:
    df.loc[(i == 'A' or i == 'A1') & (((df['DH1']*2 + df['DH2'] + df['DH3'])/4) >= 5),'KQXT'] = 1
    df.loc[(i == 'A' or i == 'A1') & (((df['DH1']*2 + df['DH2'] + df['DH3'])/4) < 5),'KQXT'] = 0
    
    df.loc[(i == 'B') & (((df['DH1'] + df['DH2']*2 + df['DH3'])/4) >= 5),'KQXT'] = 1
    df.loc[(i == 'B') & (((df['DH1'] + df['DH2']*2 + df['DH3'])/4) < 5),'KQXT'] = 0
    
    df.loc[(i != 'A' or i != 'A1' or i != 'B') & (((df['DH1'] + df['DH2'] + df['DH3'])/3) >= 5),'KQXT'] = 1
    df.loc[(i != 'A' or i != 'A1' or i != 'B') & (((df['DH1'] + df['DH2'] + df['DH3'])/3) < 5),'KQXT'] = 0
print(df)

    STT   T1   L1   H1   S1   V1   X1  ...  TBM1  TBM2  TBM3  XL1  XL2  XL3  KQXT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...  7.00  7.54  7.06    K    K    K   0.0
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...  4.69  5.47  4.70    Y   TB    Y   0.0
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...  5.77  5.38  4.33   TB   TB    Y   1.0
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...  6.21  5.20  6.03   TB   TB   TB   0.0
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...  6.50  6.36  7.01    K   TB    K   0.0
..  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ...  ...  ...   ...
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...  7.43  7.42  7.04    K    K    K   0.0
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...  4.93  5.15  4.78    Y   TB    Y   0.0
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...  7.05  7.84  7.92    K    K    K   1.0
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...  4.15  4.72  6.16    Y    Y   TB   0.0
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...  5.26  5.72  5.90   TB   TB   TB   0.0

[100 rows x 63 columns]